<template>
  <b-form @submit.prevent="fetchYAMLFile(url)">
    <b-form-group
      label="instance:"
      label-for="url-instance">
      <b-form-input
        id="url-instance"
        v-model="instance"
        required />
    </b-form-group>

    <b-row>
      <b-col>
        <b-form-group
          label="namespace:"
          label-for="url-namespace">
          <b-form-input
            id="url-namespace"
            v-model="namespace"
            required />
        </b-form-group>
      </b-col>

      <b-col>
        <b-form-group
          label="project:"
          label-for="url-project">
          <b-form-input
            id="url-project"
            v-model="project"
            required />
        </b-form-group>
      </b-col>
    </b-row>

    <b-form-group
      label="branch / tag:"
      label-for="url-ref">
      <b-form-input
        id="url-ref"
        v-model="ref"
        required />
    </b-form-group>

    <b-form-group
      label="URL:"
      label-for="url">
      <b-form-input
        id="url"
        :value="url"
        type="url"
        disabled />
    </b-form-group>

    <b-button
      type="submit"
      variant="primary">Load</b-button>
  </b-form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      instance: 'gitlab.com',
      namespace: 'gitlab-org',
      project: 'gitlab-ce',
      ref: 'master'
    }
  },

  computed: {
    url() {
      return `https://${this.instance}/api/v4/projects/${encodeURIComponent(
        this.namespace
      )}%2F${encodeURIComponent(
        this.project
      )}/repository/files/.gitlab-ci.yml/raw?ref=${encodeURIComponent(
        this.ref
      )}`
    }
  },

  methods: {
    ...mapActions(['fetchYAMLFile'])
  }
}
</script>
