<template>
  <b-container>
    <h2 class="mt-3 mb-3">
      <code>.gitlab-ci.yml</code> visualization prototype
      (<b-link href="https://gitlab.com/gitlab-org/gitlab-ce/issues/20785">#20785</b-link>)
    </h2>

    <url-form class="mt-3 mb-3" />

    <b-card>
      <tab-navigation
        slot="header"
        class="card-header-tabs"
      />
      <nuxt />
    </b-card>
  </b-container>
</template>

<script>
import TabNavigation from '~/components/tab-navigation.vue'
import UrlForm from '~/components/url-form.vue'

export default {
  components: {
    TabNavigation,
    UrlForm
  }
}
</script>
