<template>
  <section>
    <p v-if="!yamlContent">No YAML file loaded</p>
    <p v-else-if="!yamlAST">Loading...</p>
    <pre>{{ yamlAST }}</pre>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['yamlContent', 'yamlAST'])
  }
}
</script>
