<template>
  <section>
    <p v-if="!yamlContent">No YAML file loaded</p>
    <pre v-else>{{ yamlContent }}</pre>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['yamlContent'])
  }
}
</script>
