<template>
  <section>
    <p v-if="!yamlContent">No YAML file loaded</p>
    <p v-else-if="!mermaidScript">Loading...</p>
    <pre v-else>{{ mermaidScript }}</pre>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['yamlContent', 'mermaidScript'])
  }
}
</script>
