<template>
  <section>
    <p v-if="!yamlContent">No YAML file loaded</p>
    <p v-else-if="!mermaidScript || isRendering">Loading...</p>
    <div ref="container">&nbsp;</div>
  </section>
</template>

<script>
import { mapState } from 'vuex'

let mermaidAPI

export default {
  data() {
    return {
      isRendering: false
    }
  },

  computed: {
    ...mapState(['yamlContent', 'mermaidScript'])
  },

  watch: {
    mermaidScript() {
      this.renderScript()
    }
  },

  mounted() {
    import('mermaid').then(module => {
      mermaidAPI = module.default
      mermaidAPI.initialize({
        flowchart: {
          htmlLabels: false
        }
      })
      this.renderScript()
    })
  },

  methods: {
    renderScript() {
      this.isRendering = true
      const { container } = this.$refs
      container.textContent = this.mermaidScript
      if (!this.mermaidScript) {
        return
      }

      mermaidAPI.init(undefined, container, () => {
        this.isRendering = false
      })
    }
  }
}
</script>
